Repository JDGA1997/ASPRA-Movil, pull requests merged in 2023-10, with the labels that each got.

#54 Pantalla Principal Dev-NicolasMattos03
  ASPRA-APP/app/src/main/res/drawable/aspra.png
  ASPRA-APP/app/src/main/res/layout/activity_main.xml
Labels: Android-Studio

#75 Se actualiza el documento IEEE830 en base al Sprint 2
  Documentacion/Documento IEEE830 Proyecto ASPRA Movill 2023.pdf
Labels: documentation

#83 Fedev
  ASPRA-APP/app/src/main/res/layout/activity_contacto.xml
  ASPRA-APP/app/src/main/res/layout/activity_login.xml
  ASPRA-APP/app/src/main/res/layout/activity_main.xml
  ASPRA-APP/app/src/main/res/layout/activity_registrarse.xml
  ASPRA-APP/app/src/main/res/layout/activity_reportar.xml
  ASPRA-APP/app/src/main/res/layout/activity_reporte_exitoso.xml
  ASPRA-APP/app/src/main/res/values/colors.xml
  ASPRA-APP/app/src/main/res/values/strings.xml
Labels: Android-Studio, Accesibilidad

#84 Subo la carpeta "Automatizacion con Selenium"
  Documentacion/Automatizacion con Selenium - ASPRA Movil/ASPRA-Movil-Testing-Sprint2.side
  Documentacion/Automatizacion con Selenium - ASPRA Movil/Automatizacion con Selenium IDE - ASPRA Movil.flv
  Documentacion/Automatizacion con Selenium - ASPRA Movil/Modulo 1 - 3 - Práctica primer Caso de Prueba Sencillo Caja Negra - Testing ISP - Anahí Hernández.docx.pdf
Labels: documentation, Task, Testing

#85 Dev ezmant
  ASPRA-APP/app/src/main/java/com/example/aspra_app/MiCuentaActivity.java
  ASPRA-APP/app/src/main/res/layout/activity_editar_cuenta.xml
  ASPRA-APP/app/src/main/res/layout/activity_mi_cuenta.xml
Labels: Task, Android-Studio

#88 Dev jdga1997
  ASPRA-APP/app/src/main/java/com/example/aspra_app/EditarReporteActivity.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/MiCuentaActivity.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/ReporteActivity.java
  ASPRA-APP/app/src/main/res/layout/activity_editar_reporte.xml
  ASPRA-APP/app/src/main/res/layout/activity_reporte.xml
  ASPRA-APP/app/src/main/res/values/strings.xml
Labels: Task, Java, Android-Studio, Accesibilidad

#93 Dev jdga1997
  ASPRA-APP/app/src/main/java/com/example/aspra_app/MisReportesActivity.java
  ASPRA-APP/app/src/main/res/layout/activity_misreportes.xml
Labels: Task, Java, Android-Studio, Accesibilidad

#94 Dev jdga1997
  ASPRA-APP/app/src/main/AndroidManifest.xml
  ASPRA-APP/app/src/main/java/com/example/aspra_app/ContactoActivity.java
  ASPRA-APP/app/src/main/res/layout/activity_contacto.xml
Labels: bug, Task, Java, Android-Studio, Accesibilidad

#95 Dev nicolas mattos03 new
  ASPRA-APP/app/src/main/java/com/example/aspra_app/ReportarActivity.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/data/DatabaseHelper.java
  README.md
Labels: Task, SQLite, Java, Android-Studio, Accesibilidad

#98 Develop
  ASPRA-APP/app/src/main/AndroidManifest.xml
  ASPRA-APP/app/src/main/java/com/example/aspra_app/ContactoActivity.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/EditarReporteActivity.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/MiCuentaActivity.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/MisReportesActivity.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/RegistrarseActivity.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/ReportarActivity.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/ReporteActivity.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/data/DatabaseHelper.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/data/UserDAO.java
  ASPRA-APP/app/src/main/java/com/example/aspra_app/models/Usuario.java
  ASPRA-APP/app/src/main/res/layout/activity_contacto.xml
  ASPRA-APP/app/src/main/res/layout/activity_editar_cuenta.xml
  ASPRA-APP/app/src/main/res/layout/activity_editar_reporte.xml
  ASPRA-APP/app/src/main/res/layout/activity_login.xml
  ASPRA-APP/app/src/main/res/layout/activity_main.xml
  ASPRA-APP/app/src/main/res/layout/activity_mi_cuenta.xml
  ASPRA-APP/app/src/main/res/layout/activity_mis_reportes.xml
  ASPRA-APP/app/src/main/res/layout/activity_registrarse.xml
  ASPRA-APP/app/src/main/res/layout/activity_reportar.xml
  ASPRA-APP/app/src/main/res/layout/activity_reporte.xml
  ASPRA-APP/app/src/main/res/layout/activity_reporte_exitoso.xml
  ASPRA-APP/app/src/main/res/values/strings.xml
Labels: documentation, Task, Testing, SQLite, Java, Android-Studio, Accesibilidad
